# R
.RData
.RDS
.RHistory
.Rproj
R/data
R-christi/data
R/plots
.Rproj.user

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
*.pem
.DS_Store

# api info
config.js

# Docker
Dockerfile
docker-compose.yml
